
/* General. */
html, body {
  font-family:'Karla', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: rgb(36,57,75);
  padding: 0;
  margin: 0;
}


/* GridJS. */
.gridjs-sort { display: none; } /* Hides sort arrows. */

table { border-spacing: 0; } /* Removes space between cells. */

.gridjs-th {
  font-size: 10px;
  text-transform: uppercase;
  background: rgb(24, 39, 51);
  padding: 6px 10px;
  margin: 0; }

.gridjs-td {
  font-size: 13px;
  text-align: center; }

.gridjs-tr { height: 25px; }

.gridjs-tr:nth-child(odd) { /* Odd/even backgrounds. */
  background: rgb(45, 71, 92) !important; }

.gridjs-tr .gridjs-td:nth-child(1) { /* Aligning flags to the left. */
  text-align: left;
  padding-left: 10px; }

.flag { 
  width: 20px; 
  height: 11px; 
  margin-right: 5px; 
  position:relative; 
  top:1px; 
  clear:right; }


.title {
  font-size: 20px;
  padding: 6px 13px;
  margin-top: 6px;
  text-align:center;
}


.gridjs-pagination {
  text-align: center;
  padding: 20px;
}

.gridjs-summary {
  display: none;
}

button {
  background:rgb(24, 39, 51);
  border: none;
  outline: none;
  color: white;
  padding: 6px 8px;
}

.gridjs-spread {
  padding: 6px 0;
}

.light {
  color:rgb(172, 172, 172);
  font-size: 12px;
}

/* Search. */
.search-front {
  text-align: center; }

  .search-front__input {
    font-size: 14px;
    padding: 6px 10px;
    background:rgb(24, 39, 51);
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    border: none !important;
    outline: none; }

.gridjs-search-input { /* Hides GridJS's search input. */
  display: none; }


/* Data switch. */
.data-switch {
  text-align: center;
  margin-bottom:10px; }

  .data-switch__button {
    font-size: 16px;
    font-family: 'Karla';
    padding: 4px 4px; }


/* Copyright. */
.copyright {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  padding-top: 0;
  color:rgb(149, 162, 173); }

